<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118384836-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118384836-1');
      </script>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json" />
    <% if @event %>
      <%- 
        url = ['https://', ENV['HOST'], 'events', @event.slug].join('/') 
        title = [@event.name, 'The Fetish Traveller'].join(' | ')
      %>
      <title><%= title %></title>
      <meta name="description" content="<%= @event.abstract %>"/>
      <meta property="og:type" content="website"/>
      <meta property="og:site_name" content="The Fetish Traveller"/>
      <meta property="og:title" content="<%= title %>"/>
      <meta property="og:description" content="<%= @event.abstract %>"/>
      <meta property="og:url" content="<%= url %>"/>
      <% if @event.hero.attached? %>
        <meta property="og:image" content="https://<%= ENV['HOST'].to_s + url_for(@event.hero.variant(resize: '512x512>')) %>"/>
      <% end %>
      <link rel="canonical" href="<%= url %>"/>
    <% else %>
      <title>The Fetish Traveller</title>
      <meta name="description" content="Find the best fetish events worldwide."/>
      <meta property="og:type" content="website"/>
      <meta property="og:site_name" content="The Fetish Traveller"/>
      <meta property="og:title" content="The Fetish Traveller"/>
      <meta property="og:description" content="Find the best fetish events worldwide."/>
      <meta property="og:image" content="https://nerdgeschoss.de/wp-content/themes/codedesign/image/favicon.png"/>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="https://nerdgeschoss.de/wp-content/themes/codedesign/image/favicon.png">
    <%= stylesheet_pack_tag 'application' %>
    <% if Rails.env.production? %>
      <script type='text/javascript'>
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=vrgkr4uxi3g4bhan3vxheq';
        s.parentNode.insertBefore(bh, s);
        })(document, 'script');
      </script>
    <% end %>
  </head>
  <body>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqKALdkIndBLVLReuQHzhcXjghXpS5SoE"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
